doctype html
html(lang="en")
    head
        include includes/head.pug

    body.background
        div.container
            div.columns
                div.column.col-12
                    include includes/tabTHottest
                    include includes/translator.pug

        div.container
            div.columns
                div.column.col-1
                div.column.col-10
                    div.container
                        div.columns.mt-2
                            div.column.col-12.my-2.col-sm-12.col-md-12

                                for n in businesses

                                    div.card.mt-2
                                        div.columns
                                            div.column.col-3.col-sm-12.col-md-12
                                                div.card-image
                                                    img.img-responsive(src="!{n.Business_Img}", alt="Hottest Image")

                                            div.column.col-6.col-sm-12.col-md-12
                                                div.card-header
                                                    div.card-title.h4
                                                        p !{n.Business_Name}

                                                div.card-body

                                                    p
                                                        b Description :
                                                        |  !{n.Business_Desc}

                                                    p
                                                        b Location :
                                                        |  !{n.Business_Location}

                                            div.column.col-3.col-sm-12.col-md-12
                                                div.card-body.vl
                                                    p
                                                        b Estimate Payment :
                                                        |  !{n.Business_Price}

                                                    p
                                                        b Rating :

                                                        form-input.star-rating(method="post" action='/rating')
                                                            input#star5(type='radio' name='rate' value='5')
                                                            label(for='star5' title='text') 5 stars
                                                            input#star4(type='radio' name='rate' value='4')
                                                            label(for='star4' title='text') 4 stars
                                                            input#star3(type='radio' name='rate' value='3')
                                                            label(for='star3' title='text') 3 stars
                                                            input#star2(type='radio' name='rate' value='2')
                                                            label(for='star2' title='text') 2 stars
                                                            input#star1(type='radio' name='rate' value='1')
                                                            label(for='star1' title='text') 1 star

                                                            input(hidden, value='' name='ownersName')
                                                            input(hidden, value='' name='businessName')
                                                            input(hidden, value='' name='businessType')
                                                            input(hidden, value='' name='businessDesc')
                                                            input(hidden, value='' name='businessPrice')
                                                            input(hidden, value='' name='businessLoc')


                div.column.col-1